<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../.././stylesheets/stylesHome.css">
  <title>confirmacion</title>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
  <div class="encabezados Centro">
    <a href="/logout"><button class="btn-3">cerrar sesion</button></a> 
    <a href="/"><button class="btn-3">volver al home</button></a> 
  </div>
</header>
<% if (close) { %>
  <p>Se cerró el proceso de inscripción</p>
<% } else { %>
  <main class="centroConfimacion ">
    <div class="principalConfirm">
  <h1 class="tituloConfi">has votado por:</h1>
    </div>
    <div class="infoDeConfirm">
    <%for (let i = 0; i < nombre.length; i++) {%>
    <div class="mostrandoMateria ConfirmEleccion">
      <h2 class="hdosinfo"><%=nombre[i] %></h2>
    </div>
  <%}%>
    </div>
    <a href="/"><button class="btn_1"> regresar al home</button></a>
  </main>
  <% } %>
  <%- include('../../partials/footer.ejs'); %>
</body>
</html>