<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>confirmacion</title>
</head>
<body>
  <h1>aqui la confirmacion de la eleccion</h1>
  <h2>has votado por:</h2>
  <%for (let i = 0; i < nombre.length; i++) {%>
  <h2><%=nombre[i] %></h2>
  <%}%>
</body>
</html>