<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Periodo</title>
</head>
<body>
  <form action="/estudiante/preEleccion/periodo" method="post">
    <h3>Seleccione el Periodo</h3>
    <select name="select">
      <option value="activo">Mar - Jul 2024-2</option>
      <option value="inactivo">Oct - Feb 2025-1</option>
    </select>
    <% if (proceso) { %>
      <p><%= estatus %></p>
      <p>Maravilloso, procedamos al apartado de <a href="#">selección</a></p>
    <% } %>

    <% if (!proceso) { %>
      <p><%= estatus %></p>
    <% } %>
    <button type="submit">Listo</button>
  </form>
</body>
</html>