<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seleccionar Periodo</title>
</head>
<body>
  <h1>Menú de Selección de la preselección</h1>
  <p>Presiona acá para que empieces a configurar tu horario, accediendo primero a la elección del periodo <a href="/estudiante/preEleccion/periodo">Periodo</a></p>
</body>
</html>