<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../.././stylesheets/stylesHome.css" />
  <title>Seleccionar Periodo</title>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
    <div class="encabezados Centro">
      <h1 class="tituloUsuario"><%= name %></h1> 
      <a href="/logout"><button class="btn-3">Cerrar sesión</button></a> 
      <a href="/"><button class="btn-3">Volver al Home</button></a> 
    </div>
  </header>
    <main class="centro">
      <div class="inicioDePreeleccion " >
  <h1>Menú de la PreSelección</h1>
  <p>Presione acá para que Empiece a configurar su Horario</p>
  <p>Primero Accederá a la Elección del Periodo</p>
  <a href="/estudiante/preEleccion/periodo"><button class="btn_1">Periodo</button></a>
      </div>
  </main>
    <%- include('../../partials/footer.ejs'); %>
</body>
</html>
