<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../.././stylesheets/stylesHome.css">
  <title>Voto Completo</title>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
  <div class="encabezados Centro">
    <h1 class="tituloUsuario"><%= name %></h1> 
    <a href="/"><button class="btn-3">Volver al home</button></a> 
  </div>
</header>
<main class="centro">
  <div class="Yavoto">
    <h1>Ya Usted PreSeleccion칩 sus materias Correspondientes para este Periodo</h1>
    <p>Ahora tendr치 que esperar a la Pr칩xima Previa_Apertura del pr칩ximo periodo para PreSeleccionar las materias que quiera ver</p>
  </div>
</main>
<%- include('../../partials/footer.ejs'); %>
</body>
</html>