<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../.././stylesheets/stylesHome.css">
  <title>Document</title>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
  <div class="encabezados Centro">
    <a href="/"><button class="btn-3">volver al home</button></a> 
  </div>
</header>
<main class="centro">
<div class="Yavoto">
<h1>usted ya voto</h1>
<a href="/"><button class="btn_1">volver al home</button></a>
</div>
</main>
<%- include('../../partials/footer.ejs'); %>
</body>
</html>