<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1><%= message %></h1>
    <h2>Código de estado: <%= status %></h2>
    <h4>Presione aquí para volver a la <a href="/">Página Principal</a></h4>
</body>
</html>


