<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../.././stylesheets/style.css">
  <title>Ultimate Dace</title>
</head>

<body>
<%- include('../partials/header.ejs'); %>
<div class="encabezados Centro">
  <a href="/estudiante/inicio"><button class="btn-3"> iniciar sesion </button></a>
  <a href="/estudiante/registro"><button class="btn-3">registro</button></a> 
  <a href="/"><button class="btn-3">inicio</button></a> 
</div>
</header>
  <main class="centro">

  <div class="bienvenido InicioDeElsistema">
  <h1>Bienvenido</h1>
  </div>

  <div class="">

  </div>

</main>
<%- include('../partials/footer.ejs'); %>

</body>

</html>