<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../.././stylesheets/style.css">
  <title>UltimateDace</title>
</head>

<body>
<%- include('../partials/header.ejs'); %>
<div class="encabezados Centro">
</div>
</header>
  <main class="centro">

  <div class="bienvenido InicioDeElsistema">
  <h1>Bienvenido!</h1>
  </div>
<div class="contenedorDeCartas">

  <div class="card">
    <div class="personaje">
      <div class="img-personaje">
        <div class="detalles">
          <h2>Administrador</h2>
          <p class="pDeCartas">
            Esta es la secci칩n de <strong>Administradores</strong>. Estos fueron previamente seleccionados y guardados sin Registro Libre.
          </p>
          <div class="buton"><a href="/administrador/InicioDeSesion"><button class="boton">Ingresar</button></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="personaje">
      <div class="img-personaje">
        <div class="detalles">
          <h2>Estudiantes</h2>
          <p class="pDeCartas">
            Esta es la secci칩n de <strong>Estudiantes</strong>, se proporcionar치 como importancia la PreSelecci칩n de Materias en este Periodo.
          </p>
          <div class="buton"><a href="/estudiante/session"><button class="boton">Ingresar</button></a></div>
        </div>
      </div>
    </div>
  </div>
</div>

</main>
<%- include('../partials/footer.ejs'); %>

</body>

</html>
