<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../.././stylesheets/style.css">
  <title>Ultimate Dace</title>
</head>

<body>
<%- include('../partials/header.ejs'); %>
<div class="encabezados Centro">
</div>
</header>
  <main class="centro">

  <div class="bienvenido InicioDeElsistema">
  <h1>Bienvenido</h1>
  </div>
<div class="contenedorDeCartas">

  <div class="card">
    <div class="personaje">
      <div class="img-personaje">
        <div class="detalles">
          <h2>administrador</h2>
          <p class="pDeCartas">
            En esta seccion solo van a poder entrar administradores(estos fueron ingresaros antes a la base de datos)
          </p>
          <div class="buton"><a href="/administrador/InicioDeSesion"><button class="boton">ingresar</button></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="personaje">
      <div class="img-personaje">
        <div class="detalles">
          <h2>estudiantes</h2>
          <p class="pDeCartas">
            En esta seccion va a poder iniciar sesion o registrarse los estudiantes 
          </p>
          <div class="buton"><a href="/estudiante/session"><button class="boton">ingresar</button></a></div>
        </div>
      </div>
    </div>
  </div>
</div>

</main>
<%- include('../partials/footer.ejs'); %>

</body>

</html>