* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  margin: 0;
  padding: 0;
}
h1{
  color: white;
}
/* estilos del header*/
.encabezado {
  width: 100%;
  height: 50px;
  background-color: rgba(7, 19, 126, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 1px 1px;
  margin-bottom: 2px;
}

.encabezados {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 500px;
  height: 50px;
}

.tituloUsuario{
  font-size: 18px;
  text-align: center;
}
.contenedor{
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  perspective: 500px;

}

.logo {
width: 40px;
height: 40px;
  background: url(../image/flux-svgrepo-com.svg);
  background-position: center;
  background-size: cover;
  position: absolute;
  margin-right: 300px;
  filter: drop-shadow( 0px 7px 7px blue);
  animation: rotar 5s linear infinite;
}

.logo:hover{
  cursor: pointer;
}

@keyframes rotar{
  from{
    transform: rotateY(180deg)

  }
  to{
    transform: rotateY(-180deg);
  }
}

.imagen {
  width: 100px;
  height: 48px;
}

.boton__centro {
  height: 50px;
  width: 100px;
  border: none;
  background-color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  transition: 0.5s ease;
  color: white;
}

.boton__centro:hover {
  color: white;
  background-color: rgb(11, 60, 167);
  transition: 0.5s ease;
}
/*estilos del main*/

.centro {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(2, 15, 32);
  gap: 20px;

}



.inicioDePreeleccion {
  margin-top: 20px;
  width: 700px;
  height: 300px;
  background-color: rgb(52, 73, 94);
  border-radius: 10px;
  color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 19px;
  box-shadow: 16px 14px 20px #0000008c;
  gap: 10px;
}

/* estilos del footer*/

.parteDeAbajo {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(99, 97, 97);
  color: white;
  gap: 70px;
}

.columna {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.imagenFooter{
  width: 70px;
  height: 70px;
}

p {
  margin: 0px;
}
/*estilos del  home*/

.contenedor{
  height: 300px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
}


.card{
  height: 350px;
  width: 300px;
  transition: 300ms;
}

.personaje , .personaje_2{
  height: 350px;
  width: 300px;
  border-radius: 10%;
  transition: 300ms;
  position: absolute;
}

.img-personaje{
  height: 350px;
  background-image: url('.././image/6205248.jpg');
  background-size: contain;
  margin-bottom: 200px;
  border-radius: 20px;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px #000);
}

.img-personaje_2{
  height: 350px;
  background-image: url('.././image/6205248.jpg');
  background-size: contain;
  margin-bottom: 200px;
  border-radius: 20px;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px #000);

}

.detalles,.detalles_2{
  height: 200px;
  width: 300px;
  background-color: #212F3D;
  color: white;
  border-bottom-left-radius: 10% ;
  border-bottom-right-radius:10% ;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-left: .5px solid blue;
  border-right:.5px solid blue;
  border-top:  .5px solid blue;
  text-align: center;
}

.card:hover .img-personaje{
  transform: translateY(-40px);
  transition: 300ms;
  filter: none;
  background-image: url(.././image/venezuleaBandera.svg);
  background-size: contain;
}

.card:hover .img-personaje_2{
  transform: translateY(-40px);
  transition: 300ms;
  filter: none;
  background-image: url(.././image/venezuleaBandera.svg);
  background-size: contain;
}
h2{
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.buton{
  height: 200px;
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
background-color: #1C2833 ;
border-bottom-left-radius:20px ;
border-bottom-right-radius:20px ;
}

.boton{
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  transition: .5s ease;
}

.boton:hover{
  background: #3908c0 ;
  transition: .5s ease;
}

/* botones*/
.btn-3{
  position: relative;
  width: 140px;
  height: 30px;
  transition: all .6s ease;
  z-index: 1;
  border: none;
  background-color: #000;
  color: white;
  cursor: pointer;
}

.btn-3::after{
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  left: -10px;
  top: 0;
  background-color: #1a1919;
  transform: skew(20deg,0deg);
  transition: all .4s ease;
}

.btn-3::before{
  content: "";
  position: absolute;
  width: 140px;
  height: 25px;
  left: 0;
  top: 0;
  transform: skew(20deg,0deg);
  border: 3px solid #0915bd;
  transition: all .4s ease;
  z-index: -1;
}

.btn-3:hover::after{
  background-color: #000000;
  transform: skew(20deg,0deg) translateX(150px);
  transition: all .4s ease;
}

.btn-3:hover::before{
  background-color: #0c51b9;
  border: 3px solid #180570;
  transform: skew(20deg,0deg) scale(1.1);
}

.Btn-Delete:hover::before{
  background-color: #8b0505;
  border: 3px solid #ff1111;
}



.btn_1{
  width: 200px;
  height: 50px;
text-decoration: none;
font-size: 20px;
position: relative;
margin: 10px;
background-color: #0748aa;
color: white;
border-radius: 20px;
transition: transform 0.3s ease;
border: 2px solid rgb(7, 24, 173);
cursor: pointer;
}

.btn_1::after,.btn_1::before{
  content: '';
  position: absolute;
  opacity: 0.3;
  background: #071ac0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition:transform 0.3s ease ;
  border: 2px solid rgb(7, 24, 173);
}

.btn_1:hover{
  transform: translate(-10px,-10px);
}

.btn_1:hover::after{
  transform: translate(-8px,4px);
}

.btn_1:hover::after{
  transform: translate(8px,4px);
}

.btn_1:hover::before{
  transform: translate(10px,10px);
}

.botonEliminar::after,.btn_1::before{
  background: #c00707;
  border: 2px solid #720808;
}
.botonEliminar:hover::before{
  background: #c00707;
  border: 2px solid #720808;
}

.botonEliminar:hover{
  background: #c00707;
  border: 2px solid #720808;
  color: black;
}
.botonEliminar:hover::after{
  background: #c00707;
  border: 2px solid #720808;
}
.botonEliminar:hover::after{
  background: #c00707;
  border: 2px solid #720808;
}

/*estilos de datos*/

.CentroDeAdmin{
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(2, 15, 32);
  gap: 20px;
}

.CentroDatos{
  display: flex;
  flex-direction: column;
}

.tituloDatos{
  margin-top: 20px;
  width: 400px;
  height: 100px;
  background-color: rgb(52, 73, 94);
  border-radius: 10px;
  color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  box-shadow: 16px 14px 20px #0000008c;
}

.informacionDeDatos{
  width: 850px;
  height: 150px;
  background-color:  rgb(52, 73, 94) ;
  border-radius: 10px;
  box-shadow: 16px 14px 20px #0000008c;
display: flex;
justify-content: center;
text-align: center;
color: white;
}

.tabla{
  width: 750px;
  font-size: 28px;
  border: rgb(0, 0, 0);
}
.CentroDatos{
  height: 800px;
}
.fila{
  background-color: #062a61;
}

/* estilos del periodo*/


.TituloPerdiodo{
  font-size: 30px;
}

.seleccionDePeriodo{
  width: 400px;
  height: 25px;
  border-radius: 5px;
  color: white;
  background-color: #000000;
}
.formuPeriodo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.afirmativo{
  width: 400px;
  font-size: 30px;
}

.aperiodo{
  color: #042e6b;
}
.p_Procedimiento{
 margin-top: 3px;
}

.botonLink{
  color: white;
  width: 70px;
  background-color: #000000;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #071ac0;
  cursor: pointer;
  transition: .3s ease;
  text-decoration: none;
}

.botonLink:hover{
  background-color: #1b1b1b;
  transition: .3s ease;
}




/*estilos de la seleccion*/

.bodyDeSeleccion{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.CentroSeleccion{
  width: 100%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  height: fit-content;
  background-color: rgb(2, 15, 32);
  flex-direction: column;
}

.tituloDeSeleccion{
  margin-top: 20px;
  width: 600px;
  height: fit-content;
  background-color: rgb(52, 73, 94);
  border-radius: 10px;
  color: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  box-shadow: 16px 14px 20px #0000008c;
  text-align: center;
}

.centroSeleccionDeMateria{
  margin-top: 25px;
  width: 600px;
  height: 600px;
  background-color: rgb(52, 73, 94);
  border-radius: 10px;
  box-shadow: 16px 14px 20px #0000008c;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.SubtituloSeleccion{
  color: rgb(221, 216, 216);
  font-size: 20px;
}

.NombreMaterias{
  font-size: 20px;
  color: rgb(235, 235, 235);
}

.mostrandoMateria{
  margin-top: 20px;
  width: 500px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid black;
  background-color:   #212F3D;
  border-radius: 10px;
}
.formularioSeleccion{
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color:  rgb(52, 73, 94);
}
.pseleccion{
  margin-left: 15px;
}
.check{
  width: 50px;
  height: 20px;
  cursor: pointer;
  border-radius: 20px;
}
.divcheck{
  width: 30px;
  height: 30px;
  background-color: #042e6b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}


/*estilos del ConfirmEleccion*/

.centroConfimacion{
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(2, 15, 32);;
}
.tituloConfi{
  text-align: center;
}
.principalConfirm{
  margin-top: 20px;
  width: 300px;
  height: auto;
  background-color:  rgb(52, 73, 94);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.infoDeConfirm{
  width: 600px;
  height: auto;
  background-color: rgb(52, 73, 94);
  border-radius: 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hdosinfo{
  color: white;
}
.ConfirmEleccion{
  margin-bottom: 15px;
}

/* home del administrador*/

.AdminCentro{
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: rgb(2, 15, 32);
  gap: 20px;
}

/*estilos de Preresultados*/
.centroPreResultados{
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 15, 32);
}

.InformacionDelCentro{
  margin-top: 20px;
  width: 700px;
  height: 300px;
  background-color:  rgb(52, 73, 94);
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.formPreResultado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seleccionDePreResultados{
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 2px solid #08169c ;
  color: white;
  background-color: #0c0c0c;
  font-size: 17px;
  text-align: center;
}
.tituloDePreResultado{
  text-align: center;
  margin-bottom: 20px;
}
/*estilos de resultados*/

.centroResultados{
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(2, 15, 32);
  gap: 20px;
}

.resultadosDePreEleccion{
  width: 60%;
  height: 400px;
  background-color:  rgb(52, 73, 94);
  flex: 1;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 16px 14px 20px #0000008c;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.materiasEstilos{
  text-align: center;
  color: white;
  background-color: #0f0f0f;
  width: 400px;
  border-radius: 20px;
  border: 2px solid #061599;
}
/*estilos Opciones*/

.centroOpciones{
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(2, 15, 32);
  gap: 20px;
}

.contenedorOpciones{
  width: 50%;
  height: 300px;
  background-color: rgb(52, 73, 94);
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.opciones{
  width: 500px;
  border: 2px solid #08169c;
  border-radius: 30px;
  background-color: #242323;
}

.OP{
  width: 50%;
  height: 400px;
}

.formuAbajo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


.botones {
  width: 200px;
  height: 50px;
  color: white;
  background-color: rgb(8, 8, 197);
  cursor: pointer;
  transition: 0.5s ease;
  border: none;
  border-radius: 10px;
}

.botones:hover {
  background-color: rgb(8, 8, 139);
}

.pa {
  margin: 5px;
  
}

.formulario{
  background-color: rgb(52, 73, 94);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 500px;
  height: 700px;
  border-radius: 10px;
  color: rgb(245, 245, 245);
  box-shadow: 16px 14px 20px #0000008c;
}

.formulario h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}


.formu .username{
  position: relative;
  border-bottom: 2px solid rgb(5, 7, 143);
  margin: 30px 0;
}


.username .inpust{

  width: 97%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background-color: #0e0d0d;
  outline: none;
  color: white;
}

.username .labe{

  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-70%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}




.username .inpust:focus ~.labe{
  top: -5px;
  color:  rgb(255, 255, 255);
  transition: .5s;
}

.selecte{
  width: 100%;
  height: 40px;
  background-color: #0e0d0d;
  color:  #adadad;
  border: none;
  border-bottom: 2px solid rgb(5, 7, 143);
}

.a {
  color: rgb(6, 6, 58);
}

.ContenedorEliminar{
  width: 500px;
  height: 400px;
}

/* estilos del eliminar cuenta */

.Centroeliminacion{
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(2, 15, 32);
  gap: 20px;
}

.InfoEliminarCuenta{
  color: white;
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 400px;
  background-color:  rgb(52, 73, 94);
  border-radius: 20px;
  box-shadow: 16px 14px 20px #0000008c;
}
.elimi{
  width: 450px;
}

.formuelimi{
  display: flex;
justify-content: center;
align-items: center;
  flex-direction: column;
  gap: 0;
}

/* estilos de confirmacion de voto*/

.Yavoto{
  width: 500px;
  height: 300px;
  background-color: rgb(52, 73, 94);
  border-radius: 20px;
  box-shadow: 16px 14px 20px #0000008c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}