<head>
  <link rel="stylesheet" href="../.././stylesheets/footer.css">
</head>
<footer class="footer">
  <div class="container">
   <div class="row">
     <div class="footer-col">
       <h4>UltimateDace</h4>
       <ul>
         <li><a href="/">Inicio</a></li>
         <li><a href="/TerminosCondiciones">Términos y Condiciones</a></li>
       </ul>
     </div>
     <div class="footer-col">
       <h4>Creadores</h4>
       <ul>
         <li>Alejandro Hernández</li>
         <li>Eduardo Hurtado</li>
         <li>Dace Unerg</li>
         <li>Majestuosidad</li>
       </ul>
     </div>
     <div class="footer-col">
       <h4>Síguenos!</h4>
       <div class="social-links">
         <a href="https://www.facebook.com/eduardo.hurtado.5055/?locale=es_LA"><i class="fab fa-facebook-f"></i></a>
         <a href="https://x.com/AlejandroE28179"><i class="fab fa-twitter"></i></a>
         <a href="https://www.instagram.com/board_topia?igsh=Z2xnb2NuenFqbXBi"><i class="fab fa-instagram"></i></a>
       </div>
     </div>
   </div>
  </div>
</footer>
