<footer class="FooterPrinci">
  
<div class="parteDeAbajo">
  <div class="columna">
    <p>Venezuela libre </p>
    <img src="../.././image/venezuleaBandera.svg" class="imagenFooter">
    </div>

  <div class="columna">
  <a href="/" class="a">inicio</a>
  <a href="/TerminosCondiciones" class="a">Terminos y Condiciones</a>
</div>

<div class="columna">
  <p>estudiante: </p>
  <a href="/estudiante/session" class="a" >Iniciar sesión</a>
  <a href="/estudiante/register" class="a" >Registrate</a>
</div>

<div class="columna">
  <p>Administrador: </p>
  <a href="/administrador/InicioDeSesion" class="a" >Iniciar sesión</a>
</div>

  <div class="columna">
    <p>Creadores: </p>
    <p> Eduardo hurtado </p>
    <p> Alejandro hernandez</p>
  </div>
</div>
<div class="abajoFooter">
<p> @ 2021 todos los derechos reservados</p>
</div>
</footer>
