<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../.././stylesheets/stylesHome.css">
  <title>Página de Administrador</title>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
  <div class="encabezados Centro">
    <h1 class="tituloUsuario"><%= AdminName %></h1> 
    <a href="/logout"><button class="btn-3">Cerrar Sesión</button></a> 
  </div>
  </header>
  <main class="AdminCentro">
  
    
    <div class="card">
      <div class="personaje_2">
        <div class="img-personaje_2">
          <div class="detalles_2">
            <h2>Tus Datos</h2>
            <p>
              Aquí puedes ver tus Datos como Administrador
            </p>
            <div class="buton"><a href="/administrador/datos"><button class="boton">Ingresar</button></a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="personaje_2">
        <div class="img-personaje_2">
          <div class="detalles_2">
            <h2>Materias</h2>
            <p>
              Aquí puedes Ingresar o Eliminar alguna Materia...
            </p>
            <div class="buton"><a href="/administrador/Materia/Opciones"><button class="boton">Ingresar</button></a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="personaje_2">
        <div class="img-personaje_2">
          <div class="detalles_2">
            <h2>Información de los Estudiantes</h2>
            <p>
              Aquí puedes ver la <strong>Información de los estudiantes</strong> que van Votando por los Cursos
            </p>
            <div class="buton"><a href="/administrador/home/infoEstudiante"><button class="boton">Ingresar</button></a></div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="card">
      <div class="personaje_2">
        <div class="img-personaje_2">
          <div class="detalles_2">
            <h2>Información de las materias</h2>
            <p>
              Aquí puedes ver la <strong>las materias</strong> que que estan  disponible
            </p>
            <div class="buton"><a href="/administrador/home/MateriasD"><button class="boton">Ingresar</button></a></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('../../partials/footer.ejs'); %>
</body>
</html>