<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../.././stylesheets/style.css">
    <title>Selector de Carrera</title>
</head>
<body>
    <h3>Selecciona la carrera para subir tus materias...</h3>

    <section>
        <option value="601">Informática</option>
        <option value="205">Medicina</option>
        <option value="301">Odontología</option>
    </section>
</body>
</html>