<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <!-- Dependiendo de la carrera que haya escojido se harían ciertas condiciones para indicarle al administrador, que carrera seleccionó para automaticamente acá proceder a incorporarlas, mediante el nombre del semestre, el código de la materia, el nombre de la materia y cuantas unidades de crédito tendrá esa materia, no sé si también el horario-->
</body>
</html>