<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de Periodo</title>
</head>
<body>
    <!-- En este apartado el administrador podrá cambiar los nombres de los periodos y la actividad de los mismos, tiene que ingresar los datos acá de por ejemplo el nuevo periodo y la actividad del mismo, para que estos datos pasen al controlador y así actualizar la tabla del periodo, para que el contenido que se le muestre al Cliente cambie con los mismos datos que se estás mostrando -->
</body>
</html>