<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../.././stylesheets/stylesHome.css" />
    <title>UltimateDace</title>
  </head>
  <body>
    <%- include('../../partials/header.ejs'); %>
    <div class="encabezados Centro">
      <h1 class="tituloUsuario"><%= name %></h1> 
      <a href="/logout"><button class="btn-3">Cerrar Sesión</button></a> 
      <a href="/estudiante/home/eliminarCuenta"><button class="btn-3 Btn-Delete">Eliminar Cuenta</button></a> 
    </div>
    </header>
    <main class="centro">

      <div class="card">
      <div class="personaje">
        <div class="img-personaje">
          <div class="detalles">
            <h2>Datos personales</h2>
            <p class="pDeCartas">
              En esta Sección podrá visualizar sus Datos Personales que proporcionó al momento de Registrarse.
            </p>
            <div class="buton"><a href="/estudiante/datos"><button class="boton">Ingresar</button></a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="personaje_2">
        <div class="img-personaje_2">
          <div class="detalles_2">
            <h2>PreSelección de Cursos</h2>
            <p>
              En esta Sección podrá acceder a la PreSelección de Cursos, tenga en cuenta que solo puede PreSeleccionar los Cursos correspondientes al Periodo Activo.
            </p>
            <div class="buton"><a href="/estudiante/preEleccion"><button class="boton">Ingresar</button></a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="personaje_2">
        <div class="img-personaje_2">
          <div class="detalles_2">
            <h2>Resultados de la PreSelección de Cursos</h2>
            <p>
              Acá podrá visualizar los Resultados en tiempo real de las Materias más solicitadas del Periodo
            </p>
            <div class="buton"><a href="/estudiante/preEleccion/preResultado"><button class="boton">Ingresar</button></a></div>
          </div>
        </div>
      </div>
    </div>
  </main>
    <%- include('../../partials/footer.ejs'); %>
  </body>
</html>
